# Quantum ESPRESSO 运行配置
# kmesh 为 K 点密度 (spacing)，单位为 2pi/Angstrom
kmesh = 0.04

[qe]
executable_path = "mpirun -np 48 pw.x"

# Slurm 提交脚本配置
[slurm]
header = """
#!/bin/sh
#SBATCH  --job-name=qe_job
#SBATCH  --output=log.out
#SBATCH  --error=log.err
#SBATCH  --partition=liuhanyu
#SBATCH  --nodes=1
#SBATCH  --ntasks=48
#SBATCH  --ntasks-per-node=48
#SBATCH  --cpus-per-task=1

source /work/home/mayuan/intel/oneapi/setvars.sh --force
ulimit -s unlimited
"""

# QE pw.x 参数自定义 (Namelists)
[qe_params.CONTROL]
prefix = "'qe'"
outdir = "'./out'"
pseudo_dir = "'~/pseudo/qe'"

[qe_params.SYSTEM]
ecutwfc = 60.0
ecutrho = 480.0
occupations = "'smearing'"
smearing = "'methfessel-paxton'"
degauss = 0.02

[qe_params.ELECTRONS]
conv_thr = 1.0e-8
mixing_beta = 0.7

# 元素与赝势文件的映射关系
[pseudo_map]
Si = { mass = 28.085, pseudo = "Si.pbe-n-rrkjus_psl.1.0.0.UPF" }
O  = { mass = 15.999, pseudo = "O.pbe-n-kkjus_psl.0.1.UPF" }
Al = { mass = 26.982, pseudo = "Al.pbe-n-kjpaw_psl.1.0.0.UPF" }
Fe = { mass = 55.845, pseudo = "Fe.pbe-n-kjpaw_psl.1.0.0.UPF" }

[nscf]
k_automatic = true
kpoints_dense = [6, 6, 6]
wan = false
kmesh = 0.02
# k_automatic = true → 写 K_POINTS automatic
# k_automatic = false → 写 K_POINTS crystal + 坐标列表（用
# get_kmesh_justlike_kmesh_pl）
# kpoints_dense 必填（除非你只用 kmesh 走自动换算）
# 先看 [nscf].kpoints_dense
#   - 如果有，就直接用它，不管 kmesh 是多少。
# 如果没有 kpoints_dense，才用 kmesh 计算出等价网格。
# k_automatic 只决定输出格式：
#   - true → K_POINTS automatic
#   - false → K_POINTS crystal + 坐标列表

# NSCF 特有参数覆盖 (可选)
[nscf_params.SYSTEM]
occupations = "'tetrahedra'"
